{% extends 'back.html.twig' %}

{% block content %}
    <h3> Nouveau post </h3>
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-8">

                        <div class="form-group {% if form.title.vars.errors | length > 0 %} has-danger {% endif %} ">
                    {{ form_row(form.title,{'required':false,'attr': {'class': 'form-control {% if form.libele.vars.errors | length > 0 %} is-invalid {% endif %}'}}) }}

                </div>
                <div class="form-group">
                    {{ form_row(form.description,{'required':false,'attr': {'class': 'form-control'}}) }}
                </div>
                
                <div class="form-group">
                    {{ form_row(form.slug,{'required':false,'attr': {'class': 'form-control {% if form.slug.vars.errors | length > 0 %} is-invalid {% endif %}'}}) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.body,{'required':false,'attr': {'class': 'form-control {% if form.body.vars.errors | length > 0 %} is-invalid {% endif %}'}}) }}
                </div>
            </div>
            <div class="col-md-4">
   
              <div class="form-group">
          {{ form_row(form.image,{'required':false,'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
          {{ form_row(form.categorie,{'attr': {'class': 'form-control'}}) }}
      </div>
             <div class="form-group">
          {{ form_row(form.datepublish,{'required':false,'attr': {'class': 'form-control'}}) }}
            </div>
                    <input class=" btn btn-primary"type="submit" value="enregistrer" />
                   <a class="btn btn-light" href="{{ path('admin_post_index') }}">retour</a>
            </div>
     </div>
      
      
      <hr>

       

    {{ form_end(form) }}


{% endblock %}
{% block breadcrump %}
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Tableau de bord</a></li>
            <li class="breadcrumb-item"><a href="admin_post_index">liste des posts</a></li>
            <li class="breadcrumb-item active">Nouveau post </li>
        </ol>

    {% endblock %}
